<!DOCTYPE html>
<html lang="pt-br">
<%- include('./partials/head.ejs') %>
<body>
    <%- include('./partials/header.ejs') %>
    <h1>Você está na página artigos</h1>
    <h1>Esses são os artigos cadastrados:</h1>
    <h1>Título: <%= title %> </h1>
    <h1>Descrição: <%= description %> </h1>
    <h1>Data e hora: <%= date %> </h1>
    <%- include('./partials/footer.ejs') %>
</body>
</html>