<!DOCTYPE html>
<html lang="pt-br">
<%- include('./partials/head.ejs') %>
<body>
    <%- include('./partials/header.ejs') %>
    <h1>Você está na página contato</h1>
    <h1>Insira parâmetros na URL</h1>
    <h1>para modificar o conteúdo</h1>
    <h1>Celular: <%= celular %></h1>
    <h1>Telefone Fixo: <%= telefone %></h1>
    <h1>Email: <%= email %></h1>
    <%- include('./partials/footer.ejs') %>
</body>
</html>