<!DOCTYPE html>
<html lang="pt-br">
<%- include('./partials/head.ejs') %>
<body>
    <%- include('./partials/header.ejs') %>
    <h1>Você está na página perfil</h1>
    <h1>Insira parâmetros na URL</h1>
    <h1>para modificar o conteúdo</h1>
    <h1>Eu sou o(a) <%= nome %></h1>
    <h1>tenho <%= idade %> anos</h1>
    <h1>sou da cor <%= cor %></h1>
    <%- include('./partials/footer.ejs') %>
</body>
</html>