<!DOCTYPE html>
<html lang="pt-br">
<%- include('./partials/head.ejs') %>
<body>
    <%- include('./partials/header.ejs') %>
    <h1>Você está na página trabalho</h1>
    <h1>Insira parâmetros na URL</h1>
    <h1>para modificar o conteúdo</h1>
    <h1>Eu sou <%= profissao %></h1>
    <h1>na empresa <%= empresa %></h1>
    <h1>que se localiza em <%= cidade %></h1>
    <%- include('./partials/footer.ejs') %>
</body>
</html>